(
    spritesheet_width: 516,
    spritesheet_height: 102,
    sprites: [
        (
            x: 270,
            y: 18,
            width: 26,
            height: 17,
        ),
        (
            x: 0,
            y: 15,
            width: 16,
            height: 16,
        ),
        (
            x: 66,
            y: 15,
            width: 22,
            height: 16,
        ),
        (
            x: 139,
            y: 15,
            width: 25,
            height: 16,
        ),
    ],
)